:root{
    --header-footer-height: 13rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Jomhuria', serif;
    font-weight: normal;
    background-color: #EAEAEA;
}


/* Header */
.header{
    background-color: #07053A;
    height: var(--header-footer-height);
    display: flex;
    padding: 1rem 3.5rem;
}

.header img{
    height: 11rem;
}

.header-logo-tit{
    display: flex;
    gap: 1.7rem;
    align-items: center;
}

.header-logo-tit h1{
    font-size: 8rem;
    font-weight: normal;
    color: #fff;
}

/* Main container */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--header-footer-height));
    max-width: 90rem;
    margin: auto auto;
}

/* Common forms and inputs */
.form-container{
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2.5rem;
    border: 1px solid #000;
    /* box-shadow: ; */
}

.form-field{
    max-width: 37rem;
}