{% extends "global/pages/base.html" %}

{% block content %}

<div class="form-container">
    <h2>CADASTRO DE USUÁRIO</h2>
    <form method="post">
        {% csrf_token %}
        <div class="fields-container">
        {% for field in form %}
            <div class="form-field-collumn">
                {{field.label}}
                {{field}}
            </div>
        {% endfor %}
            <div class="form-controls">
                <button type="submit" class="form-btn">Ok</button>
                <button type="reset" class="form-btn">Cancelar</button>
            </div>
        </div>
    </form>
</div>

{% endblock content %}