# JSON file name with IPEM data
JSON_IPEM_DATA = 'ipem-data.json'

# Coat of arms image file name
COAT_ARMS_IMAGE = 'brasao.png'

#  Agreement between IPEM and INMETRO image file name
AGREEMENT_IMAGE = 'convenio.png'

# Signature of person in charge image file name
IN_CHARGE_SIGNATURE = 'assinatura.png'