# JSON file name with IPEM data
JSON_IPEM_DATA='ipem-data.json'

# Coat of arms image file name
COAT_ARMS_IMAGE='brasao.png'

#  Agreement between IPEM and INMETRO image file name
AGREEMENT_IMAGE='convenio.png'

# Signature of person in charge image file name
IN_CHARGE_SIGNATURE='assinatura.png'

# Temporary dispatch PDF subfolder name in /media
DISPATCH_PDF_FOLDER='dispatch_pdfs'

# DEBUG variable
DEBUG=0

# Database settings
# SQLite
DATABASE_ENGINE='django.db.backends.sqlite3'
DATABASE_NAME='./db.sqlite3'

# PostgreSQL
# DATABASE_ENGINE=‘django.db.backends.postgresql’
# DATABASE_NAME=‘ppkgutilsdb’

DATABASE_USER='adeiltonppkgutils'
DATABASE_PASSWORD='@ppkgUserAccess1974'
DATABASE_HOST='127.0.0.1'
DATABASE_PORT='5432'