{% extends "global/pages/base.html" %}
{% block title %}Registro de dados do IPEM{% endblock title %}
{% block content %}
{% csrf_token %}
<div class="form-container">
    <h2>DADOS DO IPEM PARA IMPRESSÃO EM DOCUMENTOS</h2>
    <form action="" method="post">
        {% for field in form %}
            <div class="form-field">
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.errors %}
                    <div class="error-messages">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </form>
</div>
{% endblock content %}