{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global_static/css/global.css' %}">

    <!-- Jomhuria Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">

    <title>PPGK-UTILS | Cadastro de Dados do IPEM</title>
</head>

<body>
    <div class="header">
        <div class="header-logo-tit">
            <img src="{% static "global_static/img/logo-agreement.png" %}" alt="Logo convênio IPEM/INMETRO">
            <h1>PPKG-UTILS</h1>
        </div>
    </div>
    <div class="main-content content">
        

    </div>
</body>

</html>