/* Variáveis */
:root {
    --padding-thin: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 2rem;
}

/* Estilos Gerais  */

html {
    font-size: 62.5%;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: DM Serif Text;
}

body {
    background: rgb(216, 229, 255);
}

.grid-page-content {
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    height: 100%;
}

header {
    grid-row-start: 1;
    grid-row-end: 3;
}

header>div {
    display: flex;
    font-size: 25px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 3;
    grid-row-end: 19;
}

footer {
    grid-row-start: 19;
    grid-row-end: 21;
}

header, footer {
    display: flex;
    background: rgb(4, 4, 22);
    color: white;
    justify-content: center;
    align-items: center;
}

/* Estilos dos formulários */

/* Contêiner principal para o form */
.form-main-container {
    display: flex;
    width: 40rem;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    font-size: 1.4rem;
    box-shadow: -0.5rem 0.5rem 1rem gray;
    border-radius: 0.5rem;
}

/* Contêiner para as 3 partes do form: header, body e footer */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
}

.form-header {
    border-radius: 0.5rem 0.5rem 0 0;
    justify-content: space-between;
    gap: 1rem;
}

.form-body {
    flex-direction: column;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    background: #ffffff;
    width: 100%;
}

.form-body h1 {
    font-size: 1.4rem;
}

.form-footer {
    border-radius: 0 0 0.5rem 0.5rem;
    gap: 2rem;
}

.form-header, .form-footer {
    color: #ffffff;
    width: 100%;
    background-color: rgb(4, 4, 22);
    padding: 1rem 0.5rem;
}

.form-header, .form-body, .form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button {
    background: rgb(112, 112, 112);
    color: #ffffff;
    font-weight: bold;
    padding: 0 2rem 0 2rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-size: 1.3rem;
}