:root{
    --header-footer-height: 13rem;
    --font-body: 'DM Serif Text';
    --font-title: 'Vina Sans';

    --bg-color-btn: #07053A;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: var(--font-body), sans-serif;
    font-weight: normal;
    background-color: #EAEAEA;
    color: #07053A;
}


/* Header */
.header{
    background-color: #07053A;
    height: var(--header-footer-height);
    display: flex;
    padding: 1rem 3.5rem;
}

.header img{
    height: 11rem;
}

.header-logo-tit{
    display: flex;
    gap: 1.7rem;
    align-items: center;
}

.header-logo-tit h1{
    font-size: 8rem;
    font-weight: normal;
    color: #fff;
    font-family: var(--font-title);
}

/* Main container */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--header-footer-height));
    max-width: 90rem;
    margin: auto auto;
}

/* Common forms and inputs */
.form-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2.5rem;
    border: 1px solid #000;
    box-shadow: 5px 5px 4px #0000007a;
}

.form-container h2{
    text-align: center;
}

.fields-container{
    max-width: 75rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(37rem, 100%), 1fr));
    gap: 3rem 1rem;
}

.form-field{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-text-input,
.form-file-input{
    height: 3.9rem;
    padding: 1rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #fff;
}

.form-btn{
    background-color: var(--bg-color-btn);
    width: 15.4rem;
    height: 2.9rem;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.form-controls{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1.5rem 0;
    margin: 2rem 0 0;
}