{% include "errorDispatch/partials/head.html" %}

<body>
    <div class="grid-page-content">
        {% include "errorDispatch/partials/header.html" %}
            <main>
                
                <div class="form-container">
                    <div class="form-footer">
                        Enviar laudo(s)
                    </div>
                    <div class="form-main">
                        Aqui vai o form
                    </div>
                    <div class="form-footer">
                        Aqui vão os botões
                    </div>
                </div>

            </main>
        {% include "errorDispatch/partials/footer.html" %}
    </div>
</body>

</html>